*{
    margin: 0;
    padding: 0;
}
body{
     font-family: "Google Sans", sans-serif;
    
}
.navbar{
    padding: 10px;
    display: flex;
    color:#00FFFF;
    justify-content: space-around;
    background-color:#0d0d0e;
    position: sticky;
    top: 0;
   align-items: center; 
   flex-wrap: wrap;
}
.navbar__s1{
    padding: 10px;

}

.navbar__s2{
    
    display:flex;
   gap: 20px;
   color: #00FFFF;
   justify-content: center;
    background-color:#0d0d0e;
}
.navbar__s3{
    display: flex;
     
    margin-right: 30px;
    gap: 20px;
}
.navbar__s3 i{
     display: none;
}
.navbar__s3 button{
    background-color: aqua;
    border: none;
    padding: 10px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 15px;
    
}

.b1{
    font-size: 15px;
    border: none;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 30px;
}
/* img{
    display: inline;
    margin-right:2px;
    width:30px 
} */
/* search bar---------------------------------------- */
.search__s1{
display: flex;
flex-grow: 1;
flex-basis: 20%;
 padding: 10px;
 background-color: aqua; 
 position: absolute; 
 top:70%; 
  right:24%  
  
}
.search__s2{
  padding: 10px;
 background-color: aqua; 
 position: absolute; 
 top:70%; 
  right:15%;
display: flex;
}
.search__s3{
     padding: 4px;
     background-color: #44fcfc;
   position: absolute;
   border:  solid black 1px;
   top: 70%;
   right:35%;
   width: 10%;
   margin-left:35%;
   border-radius: 320px;
   display: flex;
   flex-wrap: wrap;
}
.search__s3 i{
    padding-top:9px ;
    gap: 2px;
    
}
.search__s3 input{
    
    border-color: none;
    width: 50%;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
     border-radius: 320px;
 margin-left: 10px;
 font-size: 14px;
 
}
.search__s4{
    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    position: absolute;
    top: 70%;
    right:9%;
   
}
.search{
    font-size: 15px;
    border: none;
    padding: 10px;
   color: white;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
     background-color:#ff7a00;
     border-radius: 25px;
}
.search:hover {
  background:#e56b00;
}
.greenbox__a{
  top:22%;
 position: absolute; 
padding-left: 1250px;
font-size: 20px;
font-weight: bolder;
color:white; 
font-family: 'Playfair Display', serif;
text-align: center; 
text-shadow: 2px 2px 8px rgba(0,0,0,0.6);

}

.greenbox{

   
}
.greenbox__b img{

width: 100%;
height: 650px;

}

.explore{
    
    padding: 10px;
    background-color:#92836E;
}
.explore__e1 img{
width: 100%;
height:560px;
top: 70%;
}
.explore__e1 h1{
    font-family:"Lavishly Yours", cursive;
     margin-bottom: 10px;
     padding: 10px;
     position: absolute;
     top: 83%;
     right: 40%;
}
.explore__e{
 margin-right: 30px;
 display: flex;
  justify-content: space-between;
  margin-top: 30px;
 flex-wrap: wrap;   
}
.explore__e2{
    width: 400px;
    
}
.explore__e2 img{
    width:440px;
    height: 400px;
   
margin-right: 60px;
position: absolute;
top: 95%;

}

.explore__e2 p{
   font: bolder;
    font-size: 25px; 
   margin-left: 112px;
    color:rgb(248, 248, 248);
  font-family: "UnifrakturCook", cursive;
   position: absolute; 
   top: 127%; 
   
}
.explore__e2 h3{
    margin-left: 100px;
    top: 130%;
    padding: 20px;
    background-color:transparent;
    color: white;
    position: absolute;
}
.slider{
 height:60vh;
 display:flex;
 justify-content: center;
 align-items: center;
 background-color: #92836E;
}
.slider__s1{
    font-family:"UnifrakturCook", cursive; 
    font-weight: 100px;
    color: white;
    text-align: right;
    
}

.slider__s1{
    width: 1700px;
    height: 570px;
    background-image: url(./images/brazil.jpg);
    background-position: center;
    background-size: cover;
    animation: slide 20s infinite;
    transition: all 0.5s ease;
}
@keyframes slide{
    25%{
        background-image: url(./images/food.jpg);
        
    }
    50%{
        background-image: url(./images/culutre.jpg);
    }
    75%{
        background-image: url(./images/bora\ bora.jpg);
    }
    100%{
        background-image: url(./images/kerala.jpg);
    }
}
.client{
height:60vh;
 display:flex;
 justify-content: center;
 align-items: center;
 
 background-color:white;
}
.client h1{
font-family: "UnifrakturCook", cursive;
display:inline;
padding-right: 2%;
}

.client__c1{
    width: 800px;
    height: 300px;
    background-image: url(./images/client1.jpg);
    background-position: center;
    background-size: cover;
    animation:client 20s infinite;
    transition: all 0.9s ease;
}
@keyframes client{
    25%{
        background-image: url(./images/client2.jpg);
    }
    50%{
    background-image: url(./images/client3.jpg);
    }
    75%{
        background-image: url(./images/client4.jpg);
    }
   100%{
    background-image: url(./images/client5.jpg);
   }
}


.review__r1{
    display: flex;
     justify-content: space-between; 
    background-color: #020202;
    color:white;
    gap: 10px;
    padding:30px;
    padding-right:10%;
    padding-left: 10%;
}
.review__r1 h1{
    color: #00FFFF;
}
.review__r1 p{
    margin: 10px;
    
}
.review__card4{
    display: flex;
    justify-content: space-between;
    background-color: #020202;
    color: #00FFFF;
    padding-right:5%;
    padding-left: 10%;

}
.last__l1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: justify;
padding-top: 30px;
padding-bottom: 20px;
padding-left: 25%;
color: white;
background-color: #020202;
}

/* media queries */

@media screen and (max-width:800px){
    
body{
    font-size: 10px;
}
    
}
@media screen and (max-width:600px){
    
.explore__e2{
    flex-basis: 40%;
}
  .search__s3{
    display: none;
  }
  .search__s2{
    display: none;
  }  
  .search__s1{
    display: none;
  }
  .navbar__s3 i{
    display: block;
    
  }
  .navbar__s2{
    display: none;
  }
  
  
}